<h1>Vacations</h1>

{{#each vacations}}
  <div class="vacation">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    {{#if inSeason}}
      <span class="price">{{price}}</span>
      <a href="/cart/add?sku={{sku}}">Buy now!</a>
    {{else}}
      <span class="outOfSeason">We're sorry, this vacation is currently not int season</span>
      <a href="/notify-me-when-in-season?sku={{sku}}">Notify me when this vacation is in season.</a>
    {{/if}}
  </div>
{{/each}}
